= simple_form_for student do |f|
  = f.input :first_name
  = f.input :last_name
  .form-group.string.required.student_first_name
    %label.string.control-label{:for => "student_bday"}
      Day of Birth
    %input#student_bday.string.form-control{name: 'student[bday]', type: 'date', min: '1950-12-31', value: student.bday}
  = f.association :subject_items, label_method: :title, value_method: :id, label: 'Subject Items', as: :check_boxes
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit
